{% extends 'photobooth/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-container">
                <input type="text" name="username" placeholder="Логин" required>
                <input type="password" name="password" placeholder="Пароль" required>
            </div>
            <button type="submit" class="btn-primary">Войти</button>
        </form>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
    </div>
</div>
{% endblock %}
